@using WhosTheExpert.Models
@model dynamic

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<hr />
<div class="row form-border">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-1">
                <label value="@Model.Profession.Name"></label>
            </div>
            <div class="col-sm-4">
                <input value="@Model.Profession.Name" disabled class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <label value="@Model.Profession.Description"></label>
            </div>
            <div class="col-sm-6">
                <input value="@Model.Profession.Description" disabled class="form-control" />
            </div>
        </div>
    </div>

    <br />
    <div class="form-group">
        <a asp-action="Edit" asp-route-id="@Model.Profession.Id" class="btn btn-sm btn-success">Edit</a>
        <a asp-action="Index" class="btn btn-sm btn-default">Back to List</a>
    </div>
</div>
<br /><br />
<div class="form-border">
    <table class="table">
        <tr>
            <th>
                Experts Name
            </th>
            <th>
               Score
            </th>
        </tr>
        @foreach (var item in Model.Reviews)
        {
            <tr>
                <td>
                    @item.ToName
                </td>
                <td>
                    @item.Score
                </td>
            </tr>
        }
    </table>
</div>
